<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link "  href="http://localhost:4200/ejercicio1">Ejercicio01</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/ejercicio2">Ejercicio02</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  aria-current="true" href="http://localhost:4200/ejercicio3" >Ejercicio03</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="http://localhost:4200/ejercicio4" >Ejercicio04</a>
        </li>
      </ul>
    </div>
    <div class="card-body" style="text-align: center;">

        <h1>EJERCICIO03</h1>
        <p>
            3.	Ingrese un número natural de dos cifras y muestre el mensaje:
        </p>
        <p>
            “Es capicúa” o “No es capicúa” según sea el caso.
        </p>
           
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-body">
                <div >
                    <div class="mb-3">
                      <label for="txtnumero" class="form-label">Ingresar numero de 2 digitos</label>
                      <input type="number" class="form-control" 
                      [(ngModel)]="ejercicio3.numero"
                      id="txtnumero" placeholder="ingresar numero">
                  </div>
                  <hr/>
                  <button type="button" (click)="calcularCapicua()"
                  class="btn btn-success">CALCULAR</button>
                  <br/>
                  <br/>
                  @if (mostrarMensaje) {
                      <div class="alert alert-secondary" role="alert">
                          {{ mensaje}}
                      </div>                     
                  }
                 
                </div>
            </div>
        </div>        
    </div>
</div>

